# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

\.nyc_output/

public/bloom-player/

debug.log
*.orig

# we're not using zero-installs yet
.yarn/*

.yarnrc.yml

# Translations handling:
# First ignore everything in translations
src/translations/*
# Then un-ignore a few things we do want
!src/translations/README.md
!src/translations/crowdin.yml
!src/translations/BloomLibrary.org
# Then ignore Contentful files within BloomLibrary.org
src/translations/BloomLibrary.org/Contentful*
