/* We mostly use emotion. But adding an emotion class to CardSwiper doesn't work.
 * Apparently, swiper takes full control of the element's class and wipes out the
 * class that emotion created. Could wrap another div around it, but that gets
 * us into complicated messes making that div the right size to not mess up the
 * layout of the swiper. Simplest thing is just to pull in a CSS to do this trick.
 */
.swiper-container:after {
    content: "";
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(
        90deg,
        rgba(250, 250, 250, 0),
        rgba(250, 250, 250, 1)
    );
}
