html,
body,
#root {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    /*background-color: #212121;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    line-height: 1.5em;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body,
h1,
h2,
h3 {
    font-family: "Roboto", "Noto", sans-serif;
}
h1 {
    text-align: left;
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 5px;
    /*color: whitesmoke;*/
}
h2 {
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.banner {
    display: flex;
    flex-direction: column;
    background-position: left;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    /* padding-left: 20px; */
    flex-shrink: 0;
}

.banner a {
    color: white;
}

/* we don't want to see a grey'd "back" or "next button"; just don't show it */
.swiper-button-disabled {
    visibility: hidden;
}

/* Make the buttons the same height as the cards so clicking above or
    below the buttons performs the next/previous action */
.swiper-button-next {
    right: 0;
}
.swiper-button-prev {
    left: 0;
}
.swiper-button {
    /* just makes the svg gray (#828282)*/
    filter: invert(57%) sepia(0%) saturate(213%) hue-rotate(175deg)
        brightness(90%) contrast(81%);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    height: 100%;
    top: 0;
}

/* hide the scroll buttons except for the row that has the pointer */
/* This is here instead of CardSwiper because the react component Swiper that we would have liked
to apply it to does not support our inline css */
.swiper-container:not(:hover) .swiper-button {
    display: none;
}

/* Rules applying to ContentfulPage AND ContentfulMultiPartPage. */
.base-contentful-page {
    /* max-width: 800px; /* TODO this need to vary by screen width
    margin-left: auto;
    margin-right: auto; */
    margin-bottom: 2em;
}

.base-contentful-page ul {
    padding: revert;
}

.base-contentful-page h1 {
    font-size: 2rem;
}

/* Rules applying only to ContentfulMultiPartPage. */
.multipart-contentful-page > div {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Rules for the new ContentfulMultiPartPage About page. */
.multipart-contentful-page.new-about {
    padding-left: unset;
    padding-right: unset;
}

/* We need our padding at just the right level in order to get the color bands to be full width. */
.multipart-contentful-page.new-about > div {
    padding-left: 30px;
    padding-right: 30px;
}

/* Light blue and light gray for banded sections */
.multipart-contentful-page.new-about > div:nth-child(even) {
    background-color: #b0dee4;
}

.multipart-contentful-page.new-about > div:nth-child(odd) {
    background-color: #e5e5e5;
}

.multipart-contentful-page.new-about img {
    max-width: 250px;
}

/* Get the multi-layered list of features looking right. */
.multipart-contentful-page.new-about ul {
    list-style: inside;
    margin-left: 20px;
    list-style-type: square;
}

.multipart-contentful-page.new-about ul ul {
    list-style-type: circle;
}

/* New About page feature table rules */
.multipart-contentful-page.new-about table {
    margin-top: 36px;
}

.multipart-contentful-page.new-about thead th {
    width: 30%;
}

.multipart-contentful-page.new-about td {
    vertical-align: top;
}

.multipart-contentful-page.new-about td img {
    height: 150px;
    width: auto;
}

/* Bloom Reader page rules */
.contentful-page.bloom-reader img {
    width: 200px;
}
