html,
body,
#root {
    height: 100%;
}
.App {
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    padding: 0;
    /*background-color: #212121;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body,
h1,
h2,
h3 {
    font-family: "Roboto", "Noto", sans-serif;
}
h1 {
    text-align: left;
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 5px;
    /*color: whitesmoke;*/
}
h2 {
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

.App {
    margin-left: 0;
    height: 100%;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pageResults {
    margin: 0;
    padding-left: 20px;
    /* Without this, as a list-item, I get an unwanted white border on top */
    display: inline-block;
    background-color: f2f2f2;

    flex-grow: 1;
}

.banner {
    display: flex;
    flex-direction: column;
    background-position: left;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    /* padding-left: 20px; */
    flex-shrink: 0;
}

.banner a {
    color: white;
}

/* we don't want to see a grey'd "back" or "next button"; just don't show it */
.swiper-button-disabled {
    visibility: hidden;
}

/* Make the buttons the same height as the cards so clicking above or
    below the buttons performs the next/previous action */
.swiper-button-next {
    height: 100%;
    top: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
}
.swiper-button-previous {
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
}
